- var envName = env.NODE_ENV

if envName==='dev'
  - var apps1overview = 'DEV1 Application Overview'
  - var apps2overview = 'DEV2 Application Overview'
  - var db1overview = 'DEV1 DB Overview'
  - var db2overview = 'DEV2 DB Overview'
else if envName==='test'
  - var apps1overview = 'E2E1 Application Overview'
  - var apps2overview = 'E2E2 Application Overview'
  - var db1overview = 'E2E1 DB Overview'
  - var db2overview = 'E2E2 DB Overview'
else if envName==='prod'
  - var apps1overview = 'PROD1 Application Overview'
  - var apps2overview = 'PROD2 Application Overview'
  - var db1overview = 'PROD1 DB Overview'
  - var db2overview = 'PROD2 DB Overview'


.row
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #{apps1overview}
        table.card-table.table
          tr
            th(scope='row') Monitored Applications
            each entry in data
              if entry.environment_name === 'DEV1'
                td #{entry.cntr}
          tr
            th(scope='row') No of Application Processes Monitored
            td 10000
          tr
            th(scope='row') No of Application Webservices Monitored
            td 10000
          tr
            th(scope='row') No of Application GUIservices Monitored
            td 10000
          tr
            th(scope='row') Unavailable Services
            td 10000
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #{apps2overview}
        table.card-table.table
          tr
            th(scope='row') Monitored Applications
            td #{monEnv1Apps}
          tr
            th(scope='row') No of Application Processes Monitored
            td 10000
          tr
            th(scope='row') No of Application Webservices Monitored
            td 10000
          tr
            th(scope='row') No of Application GUIservices Monitored
            td 10000
          tr
            th(scope='row') Unavailable Services
            td 10000
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #{db1overview}
        table.card-table.table
          tr
            th(scope='row') Monitored Applications
            td #{monEnv1Apps}
          tr
            th(scope='row') No of Application Processes Monitored
            td 10000
          tr
            th(scope='row') No of Application Webservices Monitored
            td 10000
          tr
            th(scope='row') No of Application GUIservices Monitored
            td 10000
          tr
            th(scope='row') Unavailable Services
            td 10000
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #{db2overview}
        table.card-table.table
          tr
            th(scope='row') Monitored Applications
            td #{monEnv1Apps}
          tr
            th(scope='row') No of Application Processes Monitored
            td 10000
          tr
            th(scope='row') No of Application Webservices Monitored
            td 10000
          tr
            th(scope='row') No of Application GUIservices Monitored
            td 10000
          tr
            th(scope='row') Unavailable Services
            td 10000