- var envName = env.NODE_ENV

if envName==='development'
  - var apps1overview = 'DEV1 Application Overview'
  - var apps2overview = 'DEV2 Application Overview'
  - var db1overview = 'DEV1 DB Overview'
  - var db2overview = 'DEV2 DB Overview'
else if envName==='test'
  - var apps1overview = 'E2E1 Application Overview'
  - var apps2overview = 'E2E2 Application Overview'
  - var db1overview = 'E2E1 DB Overview'
  - var db2overview = 'E2E2 DB Overview'
else if envName==='prod'
  - var apps1overview = 'PROD1 Application Overview'
  - var apps2overview = 'PROD2 Application Overview'
  - var db1overview = 'PROD1 DB Overview'
  - var db2overview = 'PROD2 DB Overview'


.row
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #{apps1overview}
        table.card-table.table
          tr
            th(scope='row') Monitored Applications
            each dat, i in monServdataList
              if dat.environment_name==='DEV1'
                td(align='right') #{dat.cntr}
              else if dat.environment_name==='E2E1'
                td(align='right') #{dat.cntr}
          tr
            th(scope='row') No of Application Processes Monitored
            td(align='right') 10000
          tr
            th(scope='row') No of Application Webservices Monitored
            td(align='right') 10000
          tr
            th(scope='row') No of Application GUIservices Monitored
            td(align='right') 10000
          tr
            th(scope='row') Unavailable Services
            td(align='right') 10000
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #{apps2overview}
        table.card-table.table
          tr
            th(scope='row') Monitored Applications
            each dat, i in monServdataList
              if dat.environment_name==='DEV2'
                td(align='right') #{dat.cntr}
              else if dat.environment_name==='E2E2'
                td(align='right') #{dat.cntr}
          tr
            th(scope='row') No of Application Processes Monitored
            td(align='right') 10000
          tr
            th(scope='row') No of Application Webservices Monitored
            td(align='right') 10000
          tr
            th(scope='row') No of Application GUIservices Monitored
            td(align='right') 10000
          tr
            th(scope='row') Unavailable Services
            td(align='right') 10000
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #{db1overview}
        table.card-table.table
          tr
            th(scope='row') Monitored DBs
            each dat, i in monServdataList
              if dat.environment_name==='DEV1 DB'
                td(align='right') #{dat.cntr}
              else if dat.environment_name==='E2E1 DB'
                td(align='right') #{dat.cntr}
          tr
            th(scope='row') No of DB Processes Monitored
            td(align='right') 10000
          tr
            th(scope='row') No of GG Processes Monitored
            td(align='right') 10000
          tr
            th(scope='row') Unavailable DB Services
            td(align='right') 10000
  .col-lg-5.col-md-4
    .card.h-90
      center.card-header #{db2overview}
        table.card-table.table
          tr
            th(scope='row') Monitored DBs
            each dat, i in monServdataList
              if dat.environment_name==='DEV2 DB'
                td(align='right') #{dat.cntr}
              else if dat.environment_name==='E2E2 DB'
                td(align='right') #{dat.cntr}
          tr
            th(scope='row') No of DB Processes Monitored
            td(align='right') 10000
          tr
            th(scope='row') No of GG Processes Monitored
            td(align='right') 10000
          tr
            th(scope='row') Unavailable DB Services
            td(align='right') 10000